*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background : #2b010f;
}
.card{
    width: 90%;
    max-width: 400px;
    margin: 150px auto;
    background: #ffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}
.cover{
    height: 200px;
    background: #ececec;
}

.square{
    width: 80px;
    height: 80px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-bottom: 20px;
    background: #ececec;
}

.info{
    padding: 30px;
}

.line{
    height: 30px;
    background: #ececec;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-bottom: 20px;
}

.cover, .square, .line{
    background-image: linear-gradient(120deg, #ececec 50%, #fafafa 60%, #fafafa    61%, #ececec 70%);
    background-size: 200%;
    background-position: 100% 0;
    animation: waves 2s linear infinite;
    -webkit-animation: waves 2s linear infinite;

}

@keyframes waves{
    100%{
        background-position: -100% 0;
    }
}